#include <configs/j722s_evm_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_J722S=y
CONFIG_TARGET_J722S_R5_T3_GEM_O1=y

CONFIG_DEFAULT_DEVICE_TREE="k3-am67a-r5-t3-gem-o1"
CONFIG_SPL_OF_LIST="k3-am67a-r5-t3-gem-o1"
CONFIG_OF_LIST="k3-am67a-r5-t3-gem-o1"

CONFIG_TI_I2C_BOARD_DETECT=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_MTD_SUPPORT=n
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_PARTITION=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_PARTITION=1
